.App {
  background-color: #000000; /* Set the background to black */
  color: #FFFFFF; /* Set the text color to white for contrast */
  min-height: 100vh; /* Ensure the background covers the full height of the viewport */
}

nav {
  display: flex;
  justify-content: space-around; /* Space links evenly */
  margin: 20px 0; /* Add some margin for spacing */
}

nav a {
  color: #1DB954; /* Set link color to Spotify green */
  text-decoration: none; /* Remove underline from links */
  font-weight: bold; /* Make links bold */
}

nav a:hover {
  text-decoration: underline; /* Add underline on hover for better UX */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

